<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>VersionID</key>
	<real>4050</real>
	<key>DbVersion</key>
	<real>1024</real>
	<key>LastTempoListIndexUserSelected</key>
	<integer>0</integer>
	<key>TempoCellNumberMax</key>
	<integer>30</integer>
	<key>TempoCellLoopCountMax</key>
	<integer>999</integer>
	<key>TempoCellLoopCountMin</key>
	<integer>0</integer>
	<key>BPMMinValue</key>
	<integer>30</integer>
	<key>BPMMaxValue</key>
	<integer>300</integer>
	<key>MainWindowHight</key>
	<integer>568</integer>
	<key>MainWindowWidth</key>
	<integer>320</integer>
	<key>DeviceType</key>
	<integer>0</integer>
	<key>MusicFunctionEnable</key>
	<false/>
	<key>MusicHalfRate</key>
	<false/>
	<key>PlaySingleCellWithMusic</key>
	<false/>
	<key>PlayMusicLoopingEnable</key>
	<false/>
	<key>BPMDoubleEnable</key>
	<false/>
	<key>TempoListLoopingEnable</key>
	<false/>
	<key>MusicVolumeMax</key>
	<real>0.8</real>
	<key>MusicVolumeMin</key>
	<integer>0</integer>
</dict>
</plist>
